<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>A simplest blog</title>
</head>
<body>
    <header>
        <h1>Hei, this is a blog...</h1>
    </header>
    <div>
        {{#block "content"}}
            <p>Nothing here to see yet...</p>
        {{/block}}
    </div>
</body>
</html>