<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>A simplest blog</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
</head>
<body>
    <header>
        <div class="jumbotron">
            <div class="container text-center">
                <h1>Hei, this is a blog...</h1>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                {{#block "content"}}
                    <p>Nothing here to see yet...</p>
                {{/block}}
            </div>
        </div>
    </div>
</body>
</html>