
{{#partial "content"}}
    {{#each posts}}
        <article>
            <header>
                <a href="/posts/{{ id }}"><h1>{{ title }}</h1></a>
            </header>
            <hr>
            <section>
                {{{ body }}}
            </section>
        </article>
        <br>
    {{/each}}

{{/partial}}

{{> "layout/default.hbs"}}